<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!-- Секция аппендеров -->
    <Appenders>
        <!-- Файловый аппендер -->
        <File name="file" fileName="log/log_file.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <!-- Файловый аппендер -->

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </Console>

    </Appenders>
    <!-- Секция логгеров -->
    <Loggers>
        <!-- Корневой логгер -->
        <Root level="trace">
            <AppenderRef ref="file" level="DEBUG"/>
            <appenderRef ref="Console" level="DEBUG"/>
        </Root>
        <!-- Логгер нашего класса -->

    </Loggers>
</Configuration>